:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --white-color: #fff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ========== HEADER ========== */

.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.first-part-logo {
  color: #2196f3;
}
.second-part-logo {
  color: #000000;
}

.header .navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
}

.navigation-list-link.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  transform: scaleX(1);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail-icon:hover,
.header-mail-icon:focus,
.header-tel-icon:hover,
.header-tel-icon:focus {
  fill: var(--accent-color);
}

.header .address {
  margin-left: auto;
}

.header .address-list {
  display: flex;
}

.header .header-mail {
  margin-right: 30px;
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail-icon,
.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.portfolio-text {
  color: var(--accent-color);
}

.studio-text {
  color: var(--accent-color);
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */

.contact-info {
  background: #2f303a;
}

.hero {
  width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
  background-image: linear-gradient(
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 400ms;
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 150ms;
}

.modal-icon {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  transition: all 250ms var(--timing-function);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal-text {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal-form-field {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-field.textarea {
  margin-bottom: 20px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;

  transition: border-color 250ms var(--timing-function);
}

.modal-form-message:placeholder-shown {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: #757575;
}

.agreement-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill 250ms var(--timing-function);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border: none;
}

.modal-form-policy-text::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  margin-right: 10px;

  border: 2px solid #000;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 55px;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: all 250ms var(--timing-function);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ========== END HERO ========== */

/* ========== OTHER SECTIONS ========== */

.about-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.about-advantages-list-item {
  width: 270px;
}

.about-advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-work-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-advantages-list,
.address-list,
.about-work-list,
.team-list,
.btn-list,
.projects-list-item,
.navigation-list {
  list-style: none;
}

.about-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.block-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: fill 250ms var(--timing-function);
}

.advantages-icon {
  width: 70;
  height: 70;
}

.about-work {
  padding-bottom: 94px;
}

.about-work-list {
  display: flex;
}

.about-work-thumb {
  position: relative;
}

.about-work-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.about-advantages-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-img {
  margin-bottom: 30px;
}

.team-list {
  display: flex;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-desc {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-info {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.social-info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.social-info-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-info-item:not(:last-child) {
  margin-right: 10px;
}

.social-info-link:hover,
.social-info-link:focus {
  background-color: var(--accent-color);
}

.social-link {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.social-info-link:hover .social-link,
.social-info-link:focus .social-link {
  fill: var(--white-color);
}

.clients {
  background: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-decoration: none;
  transition: border-color 250ms var(--timing-function);
}

/* ========== END OTHER SECTIONS ========== */

/* ========== FOOTER ========== */

.footer .container {
  display: flex;
  align-items: baseline;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.contact-info {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-info .logo {
  margin-bottom: 20px;
}

.contact-info .address {
  text-align: left;
  margin-right: auto;
}

.contact-info .address-list {
  min-width: 231px;
}

.contact-info .address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.second-logo {
  color: #ffffff;
}

.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list-link,
.navigation-list-link,
.header-mail,
.header-tel,
.projects-link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.social-footer {
  width: 206px;
}

.social-footer-desc {
  margin-bottom: 20px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.social-footer-list {
  display: flex;
  list-style: none;
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: background-color 250ms var(--timing-function);
}

.social-footer-icon {
  fill: currentColor;
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: block;
  margin-left: 93px;
}

.footer-form-subscription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text-footer {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-form-input {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  background-color: inherit;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  min-width: 200px;
  min-height: 50px;
  margin-right: auto;

  background: var(--accent-color);
  border: none;
  border-radius: 4px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timing-function);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  margin-left: 10px;
  fill: var(--white-color);
  transition: fill 250ms var(--timing-function);
}

/* ========== END FOOTER ========== */

/* ========== PORTFOLIO PAGE ========== */

.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-page .btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-page .projects-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-page .projects-list-item {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.projects-list-item {
  transition: all 250ms var(--timing-function);
}

.portfolio-page .projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-page .projects-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  text-decoration: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  opacity: 0;
}

.projects-link:hover .project-overlay,
.projects-link:focus .project-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.item-button {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 250ms var(--timing-function);
}

.portfolio-page .btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.item-button:hover,
.item-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.projects-subtitle {
  width: 322px;
  height: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-link {
  display: block;
}

.projects-list-item:hover,
.projects-link:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-block {
  padding: 20px 24px;
}

.projects-desc {
  width: 322px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
