/* ========== HEADER ========== */

.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 93px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .address {
    margin-left: auto;
  }

  .address-list {
    display: flex;
  }

  .header-mail {
    margin-right: 30px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.first-part-logo {
  color: #2196f3;
}
.second-part-logo {
  color: #000000;
}

.navigation-list {
  display: flex;

  &-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms var(--timing-function);
  }

  &-link.current::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 1;
    transform: scaleX(1);
  }

  &-item:not(:last-child) {
    margin-right: 50px;
  }

  &-link:hover,
  &-link:focus {
    color: var(--accent-color);
  }
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail-icon,
.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.header-mail-icon:hover,
.header-mail-icon:focus,
.header-tel-icon:hover,
.header-tel-icon:focus {
  fill: var(--accent-color);
}

.portfolio-text {
  color: var(--accent-color);
}

.studio-text {
  color: var(--accent-color);
}

/* ========== END HEADER ========== */
